<!DOCTYPE html>
<html>
    <head>
       <h1>
           Welcome to Carpoolr!
        </h1>
        <h3>
            Login
        </h3>
    </head>
    <body>
        <form method="POST">
            <label for="email">Email</label>
            <input type="text" id="email" name="email">
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
            <input type="submit" value="Log In">
        </form>
        <a href="/login/createaccount">Create Account</a>
    </body>
</html>