<!DOCTYPE html>
<html>
    <head>
       <h1>
           Welcome to Carpoolr!
        </h1>
        <h3>
            Login
        </h3>
    </head>
    <body>
        <form id="login-form" method="POST">
            <label for="email">Email</label>
            <input type="text" id="email-field" name="email">
            <label for="password">Password</label>
            <input type="password" id="password-field" name="password">
            <input type="submit" value="Log In">
        </form>
        <a href="/login/createaccount">Create Account</a>

        <script src="/javascripts/jquery-3.5.1.js" type="text/javascript"></script>
        <script src="/javascripts/login.js" type="text/javascript"></script>
    </body>
</html>